img{
    width: 200px;
    height: 200px;
    margin-left: 300px;
}

.city{
    margin-top: 100px;
    font-size: 5rem;
    color:black;
}
.rooms{
    font-size: 5rem;
    color:black;
}


///////////////////////////////////////////
#myCanvas{
    position: absolute;
    left: 10%;
    margin: 200px;
    border: 1px solid black;
}
#myCanvas1{
    position: absolute;
    left: 10%;
    margin: 200px;
    border: 1px solid black;
}


.color{
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    background-color: green;
    z-index: 99999;
}
#brush{
    width: 100px;
    height: 100px;
    filter: drop-shadow(10px 10px 30px green);
    }

///////////////////////////////////////////////ANIMATIONS ///////////////////
.line{
    width: 100px;
    height: 100px;
    background-color: red;
}
#JSobject{
    font-size: 6rem;
}

.container{
    display: flex;
    margin-top: 300px;
}

.slova  {
    font-size: 3rem;
}

.letter{
    width: 100px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 1px;
    color:rgb(48, 197, 11);
    padding: 5px;
   
    &__5{
        border: none;
        background-color: transparent;
    }
}

.esvege{
    background-color: aqua;
    height: 600px;
    border: 1px solid black;

    &::before{
        content: ' ';
        display: block;
        width: 500px;
        height: 500px;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        background-color: red;
        margin: auto;
        animation: scale-up-tl 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
}

@keyframes scale-up-tl {
    0% {
      transform: scale(0.5);
      transform-origin: 0% 0%;
    }
    100% {
      transform: scale(1);
      transform-origin: 0% 0%;
    }
  }

  /////////////////////////////////////////////FREELANCE ANIMATION ///////////////////////////

  .freelanceAnimation{
      position: relative;
      border: 3px solid rgb(233, 8, 8);
      width: 100%;
      overflow: hidden;
      h1{
        color: white;
        text-align: center;
        font-size: 5rem;
        margin-top: 30%;
    }
    
      .map{  
        height: 1200px;
        width: 100%;
        border: 3px solid rgb(22, 209, 31);
        background-image: url(../../assets/img/hmpg_backgrounds_03a.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

    .point{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;

        &__1{
            position: absolute;
            top: 50%;left:30%;
            width: 10px;
            height: 10px;
          &::before{
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            background-color: transparent;
            border-radius: 50%;
            border: 3px solid white;
            width: 10px;
            height: 10px;
            transform-origin: 50% 50%;
            transition: all 3s;
            animation: pulsing 3000ms infinite ease-in-out;
          }
          &::after{
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(0%, 0%);
            display: inline-block;
            background-color: transparent;
            border: 3px solid rgb(238, 13, 13);
            border-radius: 50%;
            width: 300px;
            height: 300px;
            transform-origin: 50% 50%;
            transition: all 3s;
           
          }
          &:hover:after{
            width: 100px;
            height: 100px;
        }


        }
        &__2{
            position: absolute;
            top: 50%;left:70%;
            width: 10px;
            height: 10px;
          &::before{
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            background-color: transparent;
            border-radius: 50%;
            border: 3px solid white;
            width: 10px;
            height: 10px;
            transform-origin: 50% 50%;
            transition: all 3s;
            animation: pulsing 3000ms infinite ease-in-out;
          }
        }
        &__3{
            position: absolute;
            top: 30%;left:70%;
            width: 10px;
            height: 10px;
          &::before{
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            background-color: transparent;
            border-radius: 50%;
            border: 3px solid white;
            width: 10px;
            height: 10px;
            transform-origin: 50% 50%;
            transition: all 3s;
            animation: pulsing 3000ms infinite ease-in-out;
          }
        }
        &__4{
           margin-left: 100px;
            width: 10px;
            height: 10px;
          &::before{
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            background-color: transparent;
            border-radius: 50%;
            border: 3px solid white;
            width: 10px;
            height: 10px;
            transform-origin: 50% 50%;
            transition: all 3s;
            animation: pulsing 3000ms infinite ease-in-out;
          }
        }
    }
  
  }

  @keyframes pulsing{
      0%{
        width: 5px;
        height: 5px;
      }
      100%{
        width: 200px;
        height: 200px;
        opacity: 0;
    }
  }



