img{
    width: 200px;
    height: 200px;
    margin-left: 300px;
}

.city{
    margin-top: 100px;
    font-size: 5rem;
    color:black;
}
.rooms{
    font-size: 5rem;
    color:black;
}


///////////////////////////////////////////
#myCanvas{
    position: absolute;
    left: 10%;
    margin: 200px;
    border: 1px solid black;
}
#myCanvas1{
    position: absolute;
    left: 10%;
    margin: 200px;
    border: 1px solid black;
}


.color{
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    background-color: green;
    z-index: 99999;
}
#brush{
    width: 100px;
    height: 100px;
    filter: drop-shadow(10px 10px 30px green);
    }

///////////////////////////////////////////////ANIMATIONS ///////////////////
.line{
    width: 100px;
    height: 100px;
    background-color: red;
}
#JSobject{
    font-size: 6rem;
}

.container{
    display: flex;
    margin-top: 300px;
}

.slova  {
    font-size: 3rem;
}

.letter{
    width: 100px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 1px;
    color:rgb(48, 197, 11);
    padding: 5px;
   
    &__5{
        border: none;
        background-color: transparent;
    }
}

