.contactUs {
    padding: 30px;

    h1 {
        margin-top: 140px;
        margin-bottom: 70px;
        text-align: center;
        font-weight: bold;
    }

    .contactUsBtn{
        width: 180px;
        margin: 0;
    }
}