.myCarousel {
    position: relative;
    width: 100%;
    margin-top: 100px;

    .carouselDiv {
        height: 400px;

        &--1 {
            height: 400px;
            background-image: url(../assets/img/apartmentCarousel1.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &--2 {
            height: 400px;
            background-image: url(../assets/img/apartmentCarousel2.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &--3 {
            height: 400px;
            background-image: url(../assets/img/apartmentCarousel3.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

    }

    .carousel-control-next {
        top: 35%;
        bottom: 35%;
        width: 4%;
        background-color: rgb(235, 14, 14);
    }

    .carousel-control-prev {
        top: 35%;
        bottom: 35%;
        width: 4%;
        background-color: rgb(235, 14, 14);
    }

    .carousel-caption {
        bottom: 65%;

        h1{
            font-size: 5rem;
            font-weight: bold;
            text-shadow: 2px 2px 9px rgba(0,0,0,0.65);
        }
        
    }

    .formWraper {
        position: absolute;
        bottom: 4%;
        width: 100%;
        padding: 0 100px;
    }

    .form-control {
        height: 48px;
        width: 95%;
        color:gray;
        font-size: 1.5rem;
      
    }

    .custom-select {
        height: 48px;
        width: 95%;
        color:gray;
        font-size: 1.5rem;
    }

       

}