footer {
    display: flex;
    justify-content: space-between;
    height: 65px;
    border-top: 1px solid $color-gray;
    padding: 23px 60px;
    color:$color-gray;
    @include media-breakpoint-down(xs) { 
        padding: 3px 6px;
    }

    .foterItems {
        display: inline-block;

    }
    a{
        @include redArrowa;
        
        @include hoverArrow;
    }
    
    svg{
        @include redArrowsvg;
    }
  
}

.linearGradient{
    min-height: 300px;
    width: 900px;
    margin: 0 auto;
    background-image: 
      url('../assets/img/cikasabradom.jpg');
   
    background-size: cover;
    background-position: 0% 0%;
    margin-bottom: 100px;
    overflow: hidden;
  
    &::before{
        content: ".";
        display: block;
        height: 300px;
        width: 1800px;
        background-image: linear-gradient(to right,
        red 50%,
        green 50%
        );
        background-size: cover;
        animation: G 3s forwards;
    }
 

  
}

.test{
    background-color: aquamarine;
    width: 100vw;
    height: 90vh;
    text-align: center;
    h1{
        font-size: calc(14px + (56 - 14) * ((100vw - 300px) / (1200 - 300)));
    }
   
}
@keyframes G{
    0%{   margin-left: -100%;
       }
    100%{  margin-left: 100%;}
  
}



