.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 160px;
    background-color: $color-gray-light;
    font-size: 1.5rem;
   

    a{
        text-decoration: none;
        color: $color-gray-dark;
        margin: 10px;

        &:hover{
            color: $color-text-red;
        }
    }

    i{
        margin-right: 3px;
        color: $color-text-red;

    }

    .social{
        color: $color-gray-dark;
    }

}

.test{
    height: 100px;
    width: 100px;
    color: aliceblue;
    text-align: center;
    padding: 40px;
    margin-left: 100px;

    &__1{
        position: relative;
        background-color: red;
        z-index: 2;
        opacity: 0.99;
       

    }
    &__2{
        position: relative;
        background-color: blue;
        margin-top: -20px;
        margin-left: 120px;
        opacity: 0.99;
       
        z-index: 1;
    }
    &__3{
        // position: relative;
        background-color: green;
        margin-top: -20px;
        margin-left: 140px;
       
        // z-index: 2;
       
    }
}