
.heroHeader{
    position: relative;
    .main-title{
        color:white;
        top:225px;
        left:130px;
        width: 500px;
        z-index: 3;
        text-align: start;

        @media screen and (max-width: 1240px) {
            width: 350px;
          }
    }

    .title1{
        display: inline-block;
        opacity: 0;
        margin-bottom: 45px;
        padding: 3px 6px;
        z-index: 2;
        background-color: $color-text-red;
        color:white;
        font-weight: 100;
        @include font-size(1.4);
        @media screen and (max-width: 1240px) {
            margin-bottom: 15px;
          }
          @media screen and (max-width: 980px) {
            margin-bottom: 10px;
            font-size:1rem;
          }
       
    }
    .title2{
        padding: 0;
        opacity: 0;
        color:white;
        z-index: 2;
        margin-bottom: 35px;
        @include font-size(5.7);
        @media screen and (max-width: 1240px) {
            margin-bottom: 11px;
          }
          @media screen and (max-width: 980px) {
            margin-bottom: 10px;
            font-size:4rem;
          }
      
    }
    .title3{
        color:white;
        opacity: 0;
        z-index: 2;
        @include font-size(1.8);
        letter-spacing: 2px;
        margin-bottom: 50px;
        @media screen and (max-width: 1240px) {
            margin-bottom: 15px;
          }
         @media screen and (max-width: 980px) {
            margin-bottom: 10px;
            font-size:1rem;
          }
      
    }

    a{
        text-decoration: none;
        &:hover .iconica-strelica{
            animation: strelica-levo-desno 0.4s forwards 3;
          }
    }
    .iconica-strelica{margin-left: 18px;}

    .button1{ 
        background:white;
        border-radius: 30px;
        width: 185px;
        z-index: 2;
        @include font-size(1.4);
        color:$color-text-red;
        padding-left: 30px;
        padding-top: 18px;
        padding-bottom: 18px;
        font-weight: bold;
    }

    .button2{
        position: absolute;
        height: 45px;
        width: 45px;
        background:white;
        border-radius: 100%;
        z-index: 2;
        left:50%;
        color:$color-text-red;
        bottom: 10%;
        @include media-breakpoint-down(xs) { 
           display: none;
             }
      
       &:hover .iconica-strelica-dugme{
        animation: strelica-dole-gore 0.4s forwards ;
       }

        .iconica-strelica-dugme{
            transform: rotate(90deg);
            height: 16px;
            width: 16px;
            fill:$color-text-red;
        }
    }

    ol{
        width: 50px;
        margin-left: auto;
    }
    .carousel-indicators{
        .active{
            background-color: red;
           } 
    }
    .carousel-li{
        width: 5px;
        height: 5px;
        border-radius: 100px;
    }

    .sliding1{animation: sliding-up 0.7s forwards;}

    .sliding2{
        animation: sliding-up 0.7s forwards;
        animation-delay: 0.3s;
    }
    .sliding3{
        animation: sliding-up 0.7s forwards;
        animation-delay: 0.6s;
    }
    .sliding4{
        animation: sliding-up 0.7s forwards;
        animation-delay: 0.9s;
    }

}

@keyframes strelica-levo-desno{
    0%{transform: translateX(0px);}
    50%{transform: translateX(20px);}
    100%{transform: translateX(0px);}
}

@keyframes strelica-dole-gore{
    0%{transform: translateY(0px) rotate(90deg);}
    50%{transform: translateY(20px) rotate(90deg);}
    100%{transform: translateX(0px) rotate(90deg) ;}
}

@keyframes sliding-up{
    0%{opacity: 0;
    transform: translateY(20px);}
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


