@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
  }



  @mixin redArrowsvg {
            margin-left: 18px;
            fill:red;
            width: 12px;
            height: 12px;
    }

@mixin redArrowa {
    text-decoration: none;
    font-size: 1.5rem;
    
    }

    @mixin hoverArrow {
      &:svg{
        animation: strelica-gore-dole 0.4s forwards 3;
      }
    }
/////////////////////FREELANCE ANIMATION////////////////////////
@mixin pointContainer{
    position: absolute;
    width: 250px;
    height: 250px;
    color: wheat;
}
@mixin point{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
}
    @mixin hoverTextGrow{
        &:hover .point {
            display: none;
        }
        &:hover .point:before {
            animation: none;
        }
        &:hover .textGrow {
            h1 {font-size: 3rem;}
            p {font-size: 1.5rem;}
            width: 270px;
            height: 270px;
            padding-top: 30%;
        }
    }
    @mixin beforeContent{
        &::before {
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            background-color: transparent;
            border-radius: 50%;
            border: 3px solid white;
            width: 10px;
            height: 10px;
            transform-origin: 50% 50%;
            transition: all 3s;
            animation: pulsing 3000ms infinite ease-in-out;
        }
    }
    /////////////////////////////////////////

    @keyframes strelica-gore-dole{
      0%{
          transform: translateY(0px) rotate(-90deg);
      }
      50%{
          transform: translateY(-20px) rotate(-90deg) ;
      }
      100%{
          transform: translateX(0px) rotate(-90deg);
      }
  }

  //////////////////////// SPINNER ///////////////////////////

 @mixin orbiter__element($transZ,$bgColor,$animDelay){
    transform-style: preserve-3d;
    transform: translateZ($transZ);
    height: 20px;
    width: 20px;
    background-color: $bgColor;
    border-radius: 100%;
    transition: all 3s;
    animation: upDown 4s $animDelay infinite linear ;
    }
