.navbar{
    position: absolute;
    padding-top: 42px;
    top:0px;
    background-color: transparent !important;
    z-index: 555;
    @include media-breakpoint-down(xs) { 
        position: static;
        padding: 0;
        background-color: rgb(34, 33, 33) !important;
        margin-bottom: 20px;
         }

.navbar-expand-sm{
    background-color: transparent !important;
    z-index: 555;
   
}
.navbar-toggler{
    margin-left: 30px;
    color: white;
}
.navbar-toggler-icon{
    border: 1px solid white;
}
.menu-close{
    color:white;
    margin-left: auto;
}
.iconica-brand{
    height: 30px;
    @include media-breakpoint-down(xs) { 
       display: none;
}
}
.nav-link {
    color:white;
    text-decoration: none;
    @include font-size(1.4);
    transition: all 0.3s;
    padding-left: 60px;
    @include media-breakpoint-down(xs) {
        border: 1px solid rgba(255, 255, 255, 0.37);
        padding-left: 10px;

        &:hover{
            border-left: 1px solid red;
        }
    }

    &:hover{ color:$color-text-red;   

        }
    }

}




