.ourAdvantages{
    position: relative;
    width: 100%;
    height: 500px;
    padding: 80px;
    overflow: hidden;
    margin-top: 50px;

    @include media-breakpoint-down(md) {
        padding: 20px;
    }
    @include media-breakpoint-down(xs) {
        padding: 5px;
    }

    h1{
        font-size: 5rem;
        color: white;
        text-align: center;
        margin-bottom: 60px;
        font-weight: bold;
        z-index: 222;

        @include media-breakpoint-down(md) {
            margin-bottom: 40px;
            font-size: 3rem;
        }
        @include media-breakpoint-down(xs) {
            margin-bottom: 3px;
            font-size: 2rem;
        }
    }

   
    .columnCont{
        &:hover .rectangle{
            transform: rotate(45deg);
        }
    }

    video{
        position: absolute;
        top: -75%;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
        filter:brightness(30%);
    }


    .paragraf{
        position: absolute;
        top: 10%;
        left: 43%;
        font-size: 4rem;
        font-weight: bold;
        color: white;
        margin: 0;
        @include media-breakpoint-down(md) {
            left: 45%;
        }
        @include media-breakpoint-down(xs) {
            font-size: 2.5rem;
            top: 16%;
            left: 47%;
        }
    }

    p{
        font-size: 2rem;
        color: white;
        font-weight: bold;
        @include media-breakpoint-down(xs) {
            font-size: 1.3rem;
        }
    }

 

    .rectangle{
        width: 100px;
        height: 100px;
        border: 2px solid white;
        margin-bottom: 40px;
        transition: all 0.3s;
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-down(xs) {
            margin-bottom: 10px;
            width: 80px;
            height: 80px;
        }
      
    }
}