.section5 {
    padding-top: 50px;
    padding-left: 90px;
    @include media-breakpoint-down(sm) { 
        padding-top: 0px;
        padding-left: 0px;
         }

    .wraper3{
        animation: movingUp 0.6s forwards;
        margin-top: 330px;
        display: none;
        @include media-breakpoint-down(md) { 
            margin-top: 43px;
        }
        @include media-breakpoint-down(xs) {     
            margin-top: 0px;
            display: block;
             }
    }
    a {
        display: block;
        @include font-size(1.8);
        text-decoration: none;
        color: $color-text-red;
        margin-bottom: 114px;
        @include media-breakpoint-down(md) { 
            margin: 5px;
             }
        @include media-breakpoint-down(xs) {     
            text-align: center;
             }
    }

    p{  @include font-size(1.8);
        @include media-breakpoint-down(xs) { 
            padding-top: 5px;
            padding-left: 30px;
            margin-bottom: 50px;
             }
     }

     .main-p {
        max-width: 765px;
        @include font-size(1.8);
        @include media-breakpoint-down(md) { 
            margin: 10px;
             }

        @include media-breakpoint-down(xs) { 
            margin: 25px;
             }
    }

    h1 { @include font-size(4.2);
        color: $color-gray-dark; 
        @include media-breakpoint-down(xs) { 
            padding-top: 30px;
            padding-left: 30px;
             }
    }

    .wraper2{
        overflow: hidden;
        position: relative;
        padding-left: 10px;
        margin-top: 143px;
        margin-bottom: 68px;
        @include media-breakpoint-down(md) { 
            margin-top: 43px;
        }
        @include media-breakpoint-down(xs) { 
            padding-top: 20px;
            margin-top: 0px;
            margin-bottom: 18px;
             }
    }

    .imageDiv{
        background-image: url('../assets/img/sittingpeople1.jpg') ;
    // background-color: #cccccc; /* Used if the image is unavailable */
        height: 880px; /* You must set a specified height */
        background-position: left; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: 900px 700px; /* Resize the background image to cover the entire container */
        @include media-breakpoint-down(md) { 
            height: 400px;
        }
    @include media-breakpoint-down(xs) { 
        height: 235px;
        background-size: cover;
        width: 350px;
         }
    }

    .redBox2 {
        position: absolute;
        top: 0px;
        left: 290px;
        width: 865px;
        height: 375px;
        background-color: red;
        z-index: -1;
        animation: rollingRed2 2s forwards;
        @include media-breakpoint-down(md) { 
            display: none;
             }

        @include media-breakpoint-down(xs) { 
            top: -20px;
            left: 90px;
            width: 365px;
            height: 130px;
             }
    }

    .rollGray2{
        position: absolute;
        top:9.5%;
        left:0px;
        right:-122px;
        bottom:10%;
         background-color: $color-gray;
         z-index: 15;
         @include media-breakpoint-down(md) { 
            display: none;
             }
         @include media-breakpoint-down(xs) { 
            display: none;
             }
     }
     .rollGrayAnim2{
        position: absolute;
        top:9.5%;
        left:0px;
        right:-122px;
        bottom:10%;
         background-color: $color-gray;
         z-index: 15;
          animation: rollingGray2 2s forwards;
          @include media-breakpoint-down(md) { 
            display: none;
             }
          @include media-breakpoint-down(xs) { 
            display: none;
             }
     }

    .iconica-strelica {
        width: 10px;
        height: 10px;
        fill: red;
    }
}


@keyframes rollingRed2{
    0%{  transform: translateX(130%); }
    100%{ transform: translateX(0); }
}

@keyframes rollingGray2{
    0%{ right:-122px; }
    100%{ right:1199px; }
}

@keyframes movingUp {
    0%{  opacity: 0;
         transform: translateY(100px); }
    100%{ opacity: 1;
          transform: translateY(0); }
}