@font-face {
    font-family: HelveticaNeue-Bold;
    src: url(../assets/HelveticaNeue-Bold.otf);
}

@font-face {
    font-family: HelveticaNeue-Italic;
    src: url(../assets/HelveticaNeue-Italic.otf);
}

@font-face {
    font-family: HelveticaNeue-Light;
    src: url(../assets/HelveticaNeue-Light.otf);
}

@font-face {
    font-family: HelveticaNeue-Medium;
    src: url(../assets/HelveticaNeue-Medium.otf);
}

@font-face {
    font-family: HelveticaNeue;
    src: url(../assets/HelveticaNeue.otf);
}


//////////////////////////////////////////////////////////////
.top-header {
   
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    height: 40px;
    background: $color-back;

    %topHeader-a{
        text-decoration: none;
        color: $color-gray;
      }

    a {
        display: inline;
        margin-left: 20px;
        @extend %topHeader-a;
     }
 
     .iconice-sive{
        margin: 5px;
        width: 11px;
        height: 11px;
        opacity: 0.5;
     }

     .val{
        width: 25px;
     }
    .key{
            transform: rotate(45deg);
            margin-right: 15px;
        } 
        .eng{ margin-left: auto; margin-right: 6px;
           
         &:hover {
               color: red;
               font-weight: bold;
       }
       }
       .srb { margin-left: 6px;
           &:hover {
               color: red;
               font-weight: bold;
              
           }
       }
}
