$color-gray:rgb(170, 170, 170);
$color-gray-light:rgb(224, 223, 223);
$color-gray-dark:rgb(94, 91, 91);
$color-back:#f2f2f2;
$color-text-red:#e60028;
$color-text-blue:#4d4feb;
$color-background-blue:blue;
$color-background-red:red;
$color-background-red-dark:rgb(209, 9, 9);
$color-background-green:green;
$color-background-orange:orange;
$color-black-light:rgb(32, 32, 32);
$color-black-medium:rgb(22, 22, 22);
$color-black-strong:rgb(0, 0, 0);